In [ ]:
# Apa itu Object Oriented Programming

#   Semuanya adalah objek, seperti list,string
#   Objek disebut Class
#   OOP itu memungkinkan kita membuat objek sendiri, termasuk methods dan atributsnya

In [33]:
print(type("Saya Adalah String"))

<class 'str'>

In [34]:
class NamaClass:

  def __init__(self, nama_atribut1, nama_atribut2):
    self.nama_atribut1 = nama_atribut1
    self.nama_atribut2 = nama_atribut2

  def nama_method(self):
    return #tulis fungsi

In [35]:
class Person:
  def __init__(self, nama, umur):
    self.nama = nama
    self.umur = umur

  def introduce(self):
    return f"Halo nama saya adalah {self.nama} dan umur saya {self.umur} tahun"

  #membuat objek persen dari kelas person
person = Person("Mizard", 19)

  #Panggil metode introduce dan mengakses atribut person dan umur menggunakan self
print(person.introduce())

Halo nama saya adalah Mizard dan umur saya 19 tahun

In [38]:
class Mahasiswa:
  def __init__(self, nama, nim, jurusan):
    self.nama = nama
    self.nim = nim
    self.jurusan = jurusan
    #inisialisasi daftar nilai dengan list kosong
    self.nilai = []

  def tambah_nilai(self, matakuliah, nilai):
    self.nilai.append((matakuliah,nilai))

  def rata_rata_nilai(self):
    total_nilai = sum(nilai for mata_kuliah, nilai in self.nilai)
    rata_rata = total_nilai / len(self.nilai) if self.nilai else()
    return rata_rata

  def info(self):
    print(f"Nama    : {self.nama}")
    print(f"Nim     : {self.nim}")
    print(f"Jurusan : {self.jurusan}")
    print(f"Rata-rata Nilai  : {self.rata_rata_nilai()}")

In [39]:
mahasiswa1 = Mahasiswa("Mizuru", 5220411093, "Informatika")
mahasiswa1.tambah_nilai("APTI", 80)
mahasiswa1.tambah_nilai("Alpro", 88)
mahasiswa1.tambah_nilai("PBO", 92)
mahasiswa1.info()

Nama    : Mizuru
Nim     : 5220411093
Jurusan : Informatika
Rata-rata Nilai  : 86.66666666666667

In [43]:
class Anjing:
    def __init__(self, nama, umur, warna):
        self.nama = nama
        self.umur = umur
        self.warna = warna

    def menggonggong(self):
        print("guk..! guk..!")

    def info(self):
        print("Nama Anjing=" + self.nama +",umurnya = "+ str(self.umur)+" tahun, warnanya = "+str(self.warna))

    def run(self):
        print("cepat.. sekali..!")

In [41]:
class Menu:
    def __init__(self, nama, deskripsi, harga):
        self.nama = nama
        self.deskripsi = deskripsi
        self.harga = harga
        print("-"*30)

    def dipesan(self):
        print(f"Menu      : {self.nama} telah dipesan")
        print(f"Deskripsi : {self.deskripsi}")
        print(f"Harga     : {self.harga}")

menu1 = Menu("Nasi goreng","Nasi digoreng dengan telor dan bumbu", 10000)
menu1.dipesan()
menu2 = Menu("Mie ayam","Mie dengan potongan ayam dan pangsit", 8000)
menu2.dipesan()
print("="*30)

------------------------------
Menu      : Nasi goreng telah dipesan
Deskripsi : Nasi digoreng dengan telor dan bumbu
Harga     : 10000
------------------------------
Menu      : Mie ayam telah dipesan
Deskripsi : Mie dengan potongan ayam dan pangsit
Harga     : 8000
==============================

In [40]:
class Buku:
    def __init__(self, judul, pengarang, tahunTerbit):
        self.judul = judul
        self.pengarang = pengarang
        self.tahunTerbit = tahunTerbit

    def dipinjam(self):
        print(f"Judul        : {self.judul}")
        print(f"Pengarang    : {self.pengarang}")
        print(f"Tahun Terbit : {self.tahunTerbit}")
        print("Saya Pinjam Buku ini ")
        print("-"*30)

    def dikembalikan(self):
        print(f"Judul        : {self.judul}")
        print(f"Pengarang    : {self.pengarang}")
        print(f"Tahun Terbit : {self.tahunTerbit}")
        print("Saya kembalikan Buku ini ")


buku1 = Buku("Laskar Pelangi","Adrea Hirata", 2005)
buku1.dipinjam()
buku2 = Buku("langit","Tere Liye", 2013)
buku2.dikembalikan()

print("="*30)

Judul        : Laskar Pelangi
Pengarang    : Adrea Hirata
Tahun Terbit : 2005
Saya Pinjam Buku ini
------------------------------
Judul        : langit
Pengarang    : Tere Liye
Tahun Terbit : 2013
Saya kembalikan Buku ini
==============================

In [44]:
class Garis:
    def __init__(self, x, y):
        self.x = x
        self.y = y

    def rotasi(self):
        print(f"Sumbu x berputar ke sumbu y = {self.y}")

    def translasi(self):
        print(f"Sumbu y bertranslasi ke sumbu x = {self.x}")

garis1 = Garis(10,22)
garis1.rotasi()
garis1.translasi()
print("="*30)

Sumbu x berputar ke sumbu y = 22
Sumbu y bertranslasi ke sumbu x = 10
==============================

In [45]:
class Pelajar:
    def __init__(self, NoInduk, nama, gender, tempatLahir, tanggalLahir):
        self.nama = nama
        self.NoInduk = NoInduk
        self.gender = gender
        self.tempatLahir = tempatLahir
        self.tanggalLahir = tanggalLahir

    def lulus(self):
        print(f"Selamat atas Kelulusannya {self.nama} dengan NoInduk {self.NoInduk} , seorang{self.gender} yang lahir di {self.tempatLahir} pada tanggal {self.tanggalLahir}")
        print("-"*30)

    def naikKelas(self):
        print(f"Selamat untuk {self.nama} dengan NoInduk {self.NoInduk} yang telah naik Kelas, seorang{self.gender} yang lahir di {self.tempatLahir} pada tanggal {self.tanggalLahir}")
        print("-"*30)

    def bayarSPP(self):
        print(f"Mohon Maaf teruntuk {self.nama} dengan NoInduk {self.NoInduk} , seorang{self.gender} yang lahir di {self.tempatLahir} pada tanggal {self.tanggalLahir}  kamu belum Bayar SPP, dimohon untuk Segera membayar")

pelajar1 = Pelajar("Budi", 1021 , "Laki-laki", "Sleman", "10 Januari")
pelajar1.lulus()
pelajar2 = Pelajar("Ani", 1232 , "Perempuan", "Mlati", "20 Maret")
pelajar1.naikKelas()
pelajar3 = Pelajar("Junet", 1360 , "Laki-laki", "Jombor", "7 Mei")
pelajar1.bayarSPP()

Selamat atas Kelulusannya 1021 dengan NoInduk Budi , seorangLaki-laki yang lahir di Sleman pada tanggal 10 Januari
------------------------------
Selamat untuk 1021 dengan NoInduk Budi yang telah naik Kelas, seorangLaki-laki yang lahir di Sleman pada tanggal 10 Januari
------------------------------
Mohon Maaf teruntuk 1021 dengan NoInduk Budi , seorangLaki-laki yang lahir di Sleman pada tanggal 10 Januari  kamu belum Bayar SPP, dimohon untuk Segera membayar
------------------------------
==============================