<a href="https://colab.research.google.com/github/zantblue/PBO/blob/main/Responsi%201.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [18]:
class Toko:
    def __init__(self, nama):
        self.nama = nama
        self.daftar_produk = []

    def tambahProduk(self, produk):
        self.daftar_produk.append(produk)

    def cariProduk(self, idProduk):
        for produk in self.daftar_produk:
            if produk.id == idProduk:
                return produk
        return None

    def tampilkanProduk(self):
        for produk in self.daftar_produk:
            produk.dataProduk()

    def hitung_total_harga(self):
        return self.jumlah * self.produk.harga

In [19]:
class Transaksi:
    def __init__(self, id, pelanggan, produk, jumlah):
        self._id = id
        self._pelanggan = pelanggan
        self.produk = produk
        self.jumlah = jumlah

    def totalHarga(self):
        return self.jumlah * self.produk.harga

    def tampilkanInfo(self):
        print(f"-" * 25)
        print(f"Id Transaksi       : {self._id}")
        print(f"Nama               : {self._pelanggan._nama}")
        print(f"Produk yang dibeli : {self.produk.nama}")
        print(f"Jumlah             : {self.jumlah}")
        print(f"Total harga        : {self.totalHarga()}")

In [20]:
class Pelanggan:
    def __init__(self, id, nama, email, telepon):
        self._id = id
        self._nama = nama
        self._email = email
        self._telepon = telepon

    def dataPelanggan(self):
        print(f"-" * 25)
        print(f"Id Pelanggan : {self._id}")
        print(f"Nama         : {self._nama}")
        print(f"Email        : {self._email}")
        print(f"Telepon      : {self._telepon}")

pelanggan1 = Pelanggan(1, "Ilham Rafi", "ilhamrafiUTY@gmail.com", "08123456789")
pelanggan2 = Pelanggan(2, "Mizard", "mizardalb@gmail.com", "089529449568")

In [21]:
class Produk:
    def __init__(self, id, nama, harga, stok):
        self._id = id
        self.nama = nama
        self.harga = harga
        self.stok = stok

    def dataProduk(self):
        print(f"-" * 20)
        print(f"Id Produk : {self._id}")
        print(f"Nama      : {self.nama}")
        print(f"Harga     : {self.harga}")
        print(f"Stok      : {self.stok}")

produk1 = Produk(1, "Indomie", 3000, 18)
produk2 = Produk(2, "Mie Sedap", 2500, 15)
produk3 = Produk(3, "Mie Sukses", 4000, 7)
produk4 = Produk(4, "Sarimie", 3500, 5)
produk5 = Produk(5, "Pop Mie", 5000, 10)

toko = Toko("Toko Unique")
toko.tambahProduk(produk1)
toko.tambahProduk(produk2)
toko.tambahProduk(produk3)
toko.tambahProduk(produk4)
toko.tambahProduk(produk5)

In [24]:
transaksi1 = Transaksi("XYZ01", pelanggan1, produk1, 3)
transaksi2 = Transaksi("XYZ02", pelanggan2, produk2, 3)
print("=" * 25)

print("----Info Tansaksi----")
Transaksi.tampilkanInfo(transaksi1)
Transaksi.tampilkanInfo(transaksi2)
print("=" * 25)

print("----Data Pelanggan----")
Pelanggan.dataPelanggan(pelanggan1)
Pelanggan.dataPelanggan(pelanggan2)
print("=" * 25)


print("---Tampil Produk--")
toko.tampilkanProduk()
print("=" * 25)

=========================
----Info Tansaksi----
-------------------------
Id Transaksi       : XYZ01
Nama               : Ilham Rafi
Produk yang dibeli : Indomie
Jumlah             : 3
Total harga        : 9000
-------------------------
Id Transaksi       : XYZ02
Nama               : Mizard
Produk yang dibeli : Mie Sedap
Jumlah             : 3
Total harga        : 7500
=========================
----Data Pelanggan----
-------------------------
Id Pelanggan : 1
Nama         : Ilham Rafi
Email        : ilhamrafiUTY@gmail.com
Telepon      : 08123456789
-------------------------
Id Pelanggan : 2
Nama         : Mizard
Email        : mizardalb@gmail.com
Telepon      : 089529449568
=========================
---Tampil Produk--
--------------------
Id Produk : 1
Nama      : Indomie
Harga     : 3000
Stok      : 18
--------------------
Id Produk : 2
Nama      : Mie Sedap
Harga     : 2500
Stok      : 15
--------------------
Id Produk : 3
Nama      : Mie Sukses
Harga     : 4000
Stok      : 7
--------------------
Id Produk : 4
Nama      : Sarimie
Harga     : 3500
Stok      : 5
--------------------
Id Produk : 5
Nama      : Pop Mie
Harga     : 5000
Stok      : 10
=========================